<!doctype html>
<html lang="en">
<head>
    <title>NoiseBuster Config-App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <base href="/">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./assets/css/app.css"/>
    <link rel="stylesheet" href="./assets/css/angular-material-icons.css"/>

</head>

<body layout="row" ng-app="ioMagician">


<!--<ui-view class="ng-scope">-->
<div ng-controller="SidebarController as sb" layout="vertical">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <header class="nav-header">
            <a ng-href="#/" class="docs-logo">
                <img src="assets/svg/html5.svg" alt="" width="50px"/>

                <h1 class="docs-logotype md-heading">Angular Material</h1>
            </a>
        </header>

        <md-toolbar class="md-whiteframe-z1">
            <h1>{{sb.title}}</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="it in sb.items">
                <md-button ui-sref="{{it.target}}"
                           ui-sref-active='selected'>
                    <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>

</div>
<!--</ui-view>//-->

<div flex layout="column" tabIndex="-1" role="main">
    <md-toolbar layout="row" class="md-whiteframe-glow-z1 site-content-toolbar" ng-controller="SidebarController as sc">
        <div class="md-toolbar-tools docs-toolbar-tools" ng-click="openMenu()" tabIndex="-1">
            <md-button class="menu" hide-gt-sm ng-click="sc.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div ui-view>
    </div>
</div>


<!--<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2 layout-max-width">-->

<!--<md-toolbar layout="row" class="md-whiteframe-z1" ng-controller="SidebarController as sc">-->
<!--<md-button class="menu" hide-gt-sm ng-click="sc.toggleList()" aria-label="Show User List">-->
<!--<md-icon md-svg-icon="menu"></md-icon>-->
<!--</md-button>-->
<!--<h1>{{sc.title}}</h1>-->
<!--</md-toolbar>-->

<!--<div ng-view></div>-->


<!--</div>-->


<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-route/angular-route.js"></script>
<script src="./bower_components/angular-resource/angular-resource.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>

<script src="src/_noisebuster.module.js"></script>
<script src="src/_shared/_common.module.js"></script>
<script src="src/_shared/angular-material-icons.js"></script>
<script src="src/_shared/directives/iomAction.directive.js"></script>
<script src="src/_shared/routerHelperProvider.js"></script>
<script src="src/_shared/service/_service.module.js"></script>
<script src="src/_shared/service/angularSocketIO.provider.js"></script>
<script src="src/_shared/service/rest/sensor.service.js"></script>
<script src="src/_shared/service/rest/command.service.js"></script>
<script src="src/_shared/service/rest/controlableUnit.service.js"></script>
<script src="src/_shared/service/rest/executionCommand.service.js"></script>
<script src="src/_shared/service/rest/port.service.js"></script>
<script src="src/_shared/service/service.config.js"></script>
<script src="src/_shared/sidebar/_sidebar.module.js"></script>
<script src="src/_shared/sidebar/sidebar.controller.js"></script>
<script src="src/_shared/sidebar/sidebar.service.js"></script>
<script src="src/components/controlableunit/_unit.module.js"></script>
<script src="src/components/controlableunit/unit.controller.js"></script>
<script src="src/components/controlableunit/unit.routes.js"></script>
<script src="src/components/controlableunit/unit.service.js"></script>
<script src="src/components/controlableunit/unitDetail.controller.js"></script>
<script src="src/components/execution/_execution.module.js"></script>
<script src="src/components/execution/execution.routes.js"></script>
<script src="src/components/execution/execution.service.js"></script>
<script src="src/components/execution/executionMain.controller.js"></script>
<script src="src/noisebusterconfig.js"></script>
<script src="src/ioMagician.routes.js"></script>


</body>
</html>